h3 {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--primary-dark-blue-color);
}

p {
    font-size: 1.2rem;
    line-height: 2rem;
    /* text-align: justify; */
    color: var(--neutral-dark-grayish-blue-color);
}

.point-heading {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1.2rem;
    grid-area: point-heading;
}

.Wrapper-point {
    margin-bottom: 2rem;
    display: grid;
    grid-template-areas: "point-heading point-heading"
    "dummy description";
    width: 95%;

}

.point {
    display: flex;
    padding: 0.5rem 1.5rem ;
    align-items: center;
    border-radius: 40px;
    background-color: var(--primary-bright-red-color);
    color: var(--neutral-very-pale-red-color);
    margin-right: 2rem;
}

.description {
    grid-area: description;
}

.dummy {
    grid-area: dummy;
    width: 104px;
}