@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,700&display=swap');

* {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

:root {
  --primary-btn-shadow-color: hsla(12, 88%, 59%, 0.8);
  --primary-bright-red-color: hsl(12, 88%, 59%);
  --primary-dark-blue-color: hsl(228, 39%, 23%);
  --neutral-dark-grayish-blue-color: hsl(227, 12%, 61%);
  --neutral-very-dark-blue-color: hsl(233, 12%, 13%);
  --neutral-very-pale-red-color: hsl(13, 100%, 96%);
  --neutral-very-light-gray-color: hsl(0, 0%, 98%);
}

.rightImageBackground {
  display: block;
  position: absolute;
  z-index: -1;
  right: -5%;
  top: -8%;
  width: auto;
  height: auto;
  content: url('./assets/bg-tablet-pattern.svg');
  overflow: hidden;
}