@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,700&display=swap');

:root {
  --primary-bright-red-color: hsl(12, 88%, 59%);
  --primary-dark-blue-color: hsl(228, 39%, 23%);
  --neutral-dark-grayish-blue-color: hsl(227, 12%, 61%);
  --neutral-very-dark-blue-color: hsl(233, 12%, 13%);
  --neutral-very-pale-red-color: hsl(13, 100%, 96%);
  --neutral-very-light-gray-color: hsl(0, 0%, 98%);
  margin: 0;
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  overflow-x: hidden;
}